</main>

<% let currentYear =new Date().getUTCFullYear(); %>
<footer class="footer">
      <p  >Copyright © <%= currentYear  %></p> 

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="style/script.js"></script>

</body>
</html>
