<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <div class="the-headar">
   
   <div class="makeflex ">
   
    <h1 class="Create-a-blog"> Blog </h1></div>
    <div>
    <P class="praagraf">You can share your interests in your own way<br>
        You can easily create a beautiful and unique blog.</P>
</div>
<div class="makeflex ">
    <!-- <button class="buttonToCreate one">Create Blog</button> -->
    <form action="/submit" method="POST">
        <button class="buttonToCreate  one">Create Blog</button>

      </form>
</div>
</div>
<div class="theTowPuctirInHeader">
<img class="towImage" src="img/101113063.avif" alt="">
<img class="towImage" src="img/image.png" alt="">


</div>
<h1 style="text-align: center;">Blog meaning</h1>
<br>
<h2 style="text-align: center; margin-left: 20%; margin-right: 20%; margin-bottom: 150px;">A blog, short for weblog, is a frequently updated web page used for personal commentary or business content.<br>
    Blogs are often interactive and include sections at the bottom of individual blog posts where readers can leave comments.
   </h2>

<!-- <script src="style/script.js"></script> -->
<main>
