<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/WriteBlog.css">
    <title>Document</title>
</head>
<body>
    <div class="blog-write-plase" >
    <form  action="/" method="POST">
        <input name="Type-the-address" type="text" class="feedback-input" placeholder="Type-the-address"   />
        <br>
        <textarea class="feedback-input2 theSacondeLine" name="Type-the-text" placeholder="Type-the-text" ></textarea>
        <br>
      
       
     <button class="buttonOfWriteBlog">Create A Blog</button>

     
    </form>
 
    </div>
</body>
</html>